/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css variables for colors */
:root{
    --main_bg: #fff;
    --page_color: #f7f7fb;
    --input_color: #f0f2f5;
    --line_color: #f0f2f5;
    --primary_bg: #66717f;
    --dingle_color: rgb(109, 40, 217, 1);
    --secondary_bg: #38353e;
    --hover_clr: #f0f2f5;
    --blur: rgba(255, 255, 255, 0.8);
    --text_color: #333;
    --primary_color: #1fa0ef;
    --secondary_color: #848f95;
    --title_color: #66717f;
    --black: #29313d;
    --white: #fff;
    --green: #21d997;
    --blue: #5093f3;
    --red: #e54953;
    --yellow: #d9a94a;
    --purple-100: #fce7f3;
    --pink-100: #fce7f3;
    --cyan-100: #cffafe;
}

/* initial fonts */
@font-face{
    font-family: "Gilroy Regular";
    src: url(/src/assets/fonts/Gilroy-Regular.ttf)
}
@font-face{
    font-family: "Gilroy Medium";
    src: url(/src/assets/fonts/Gilroy-Medium.ttf)
}
@font-face{
    font-family: "Gilroy SemiBold";
    src: url(/src/assets/fonts/Gilroy-SemiBold.ttf)
}
@font-face{
    font-family: "Gilroy Bold";
    src: url(/src/assets/fonts/Gilroy-Bold.ttf)
}
@font-face{
    font-family: "Gilroy ExtraBold";
    src: url(/src/assets/fonts/Gilroy-ExtraBold.ttf)
}
@font-face{
    font-family: "Gilroy Black";
    src: url(/src/assets/fonts/Gilroy-Black.ttf)
}
@font-face{
    font-family: "Gilroy Light";
    src: url(/src/assets/fonts/Gilroy-Light.ttf)
}
